

    <!--@code = @parsed["hbjMap"][0]["SG_TYPECODE"]-->
    <!--@name = @parsed["hbjMap"][0]["HBJNAME"]-->
    <!--@photo = "http://info.nec.go.kr/photo_20180613" + @parsed["hbjMap"][0]["IMAGE_FILE"]     -->
    <!--@party = @parsed["hbjMap"][0]["JDNAME"]     -->
    <!--@huboId = @parsed["hbjMap"][0]["HUBOID"]-->
<%= @code%> <br>
<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
  height: 500px;
  width: 20%;
}
.demo-card-wide > .mdl-card__title {
  color: white;
  height: 100%;
  width: 100%;
  background: center / contain;
  background-repeat: no-repeat;
  
  /*background-size: auto;*/

}    
    
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<% @parsed["hbjMap"].each do |i|%>
<% @photo="http://info.nec.go.kr/photo_20180613" + i["IMAGE_FILE"].to_s%>
<% @name= i["HBJNAME"].to_s%>
<% @party= i["JDNAME"].to_s%>
<% @link= "http://info.nec.go.kr/electioninfo/precandidate_detail_info.xhtml?electionId=0020180613&huboId=" + i["huboId"].to_s%>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="background-image:url(<%=@photo%>)">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
  <%=@name%>
  </div>
  <div class="mdl-card__supporting-text">
  <%=@party%><br>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href = <%=@link%> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      후보 자세히 알아보기
    </a>
  </div>
</div>
</ul>
<% end%>





